<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Mult Table</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="./module.js"></script>
</head>
<body>
    <div ng-controller="multiplicationCtrl as vm" initialnumberlimit="10">
        <input type="number" ng-model="vm.numberLimit" placeholder="Enter a number" />
        <table>
            <tr ng-repeat="numberA in vm.numbers()">
                <td ng-repeat="numberB in vm.numbers()">
                    {{ vm.compute(numberA, numberB)  }}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>